// Заголовки, загальні БЕМ блоки та інше...

.-nowrap {
	white-space: nowrap;
}

.-upper {
	text-transform: uppercase;
}

.span-wrapper {
	display: inline;

	&:not(:last-child) {
		margin-bottom: toRem(2);
	}

	@media (max-width: $mobile) {
		display: block;
	}
}

.button {
	padding: toRem(20) toRem(40);
	transition: background-color 0.3s;
	background: $buttonColor;
	color: $mainColorLight;
	font-size: toRem(19);
	font-weight: 600;
	border-radius: toRem(12);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	&::before,
	&::after {
		content: "";
		position: absolute;
		border-radius: 50%;
		background: $buttonColorHover;
	}

	[class^="icon-"] {
		font-size: toRem(17);
		margin-left: toRem(4);

		&._rotate {
			transform: rotateZ(-45deg);
		}
	}

	@media (any-hover: hover) {
		&:hover {
			transition: background-color 0.3s;
			background: $buttonColorHover;
		}
	}
}

.banner {
	max-width: 100%;
	height: 100%;
	object-fit: cover;

	&_center {
		object-position: center;
	}

	&_right {
		object-position: right center;
	}
}

.heading {
	display: flex;
	align-items: end;
	justify-content: space-between;
	color: $mainColorLight;
	@include adaptiveValue(margin-bottom, 100, 20);
	position: relative;

	&_center {
		text-align: center;
		justify-content: center;
	}

	@media (max-width: $tablet) {
		flex-direction: column;
		align-items: center;
		justify-content: start;
	}

	&__title {
		font-family: $headingFont;
		text-transform: uppercase;
		@include adaptiveValue(font-size, 120, 80);

		&_404 {
			font-family: $headingFont;
			@include adaptiveValue("font-size", 120, 60);
		}

		&_404 &_light {
			display: block;
			@include adaptiveValue("font-size", 300, 240);
			@include adaptiveValue("line-height", 300, 240);
		}

		&_light {
			display: inline-block;
			position: relative;

			._watcher-element & {
				translate: -70% 0;

				&[class$="_right"] {
					translate: 70% 0;
				}

				opacity: 0;
			}

			._watched & {
				transition: color 1s ease 0.3s,
					text-shadow 0.6s cubic-bezier(0.18, 0.57, 0.62, 1.78) 0.8s,
					translate 0.8s cubic-bezier(0.51, 0.38, 0.62, 1.49) 0.1s,
					opacity 0.8s ease-in-out 0.2s;

				&[class$="_right"],
				& {
					translate: 0 0;
				}

				opacity: 1;
				color: $accentColor;
				text-shadow: 0 0 toRem(8) $accentColor;
			}
		}

		@media (max-width: $tablet) {
			text-align: center;
			margin-bottom: toRem(30);
		}
	}

	&__subtitle {
		text-align: justify;
		line-height: 100%;
		width: 100%;
		font-size: toRem(16);
		// @include adaptiveValue("font-size", 16, 15);

		._watcher-element & {
			transform: translateX(120%);
			opacity: 0;
		}

		._watched & {
			transition: transform 0.8s cubic-bezier(0.51, 0.38, 0.62, 1.49) 0.4s,
				opacity 0.3s ease-in-out 0.6s;
			transform: translateX(0);
			opacity: 1;
		}

		&_accent {
			font-family: $headingFont;
			font-size: toRem(70);
			line-height: 1;
		}

		&_text {
			font-family: $fontFamily;
			font-weight: 500;
		}

		@media (max-width: $tablet) {
			max-width: 100%;
			text-align: center;

			& > span {
				display: block;
			}
		}

		@media (max-width: $mobile) {
			font-size: toRem(15);
		}
	}
}

.product-card {
	width: 100%;
	@include adaptiveValue(max-width, 322, 316, 0, $containerWidth, $minWidth);
	@include adaptiveValue(height, 410, 400);
	padding: toRem(10);
	background-color: $mainColorLight;
	border-radius: toRem(20);

	&__picture {
		width: 100%;
		height: toRem(250);
		overflow: hidden;
		border-radius: toRem(10);
		position: relative;

		.no-webp {
			background: url(../../images/alternative/noise.png) no-repeat center /
				cover;
		}

		.webp & {
			background: url(../../images/alternative/noise.webp) no-repeat center /
				cover;
		}

		picture {
			width: 100%;
			height: 100%;
			position: relative;

			display: flex;
			align-items: center;
			justify-content: center;
		}

		&_info {
			position: absolute;
			inset: 0;
			transform-origin: right bottom;
			transform: scale(0);
			transition: transform 0.3s;
			padding: toRem(10);
			@include adaptiveValue("font-size", 16, 14, 0, $containerWidth, $p-mobile);
			line-height: toRem(18);
			background: rgba(0, 0, 0, 0.9);
			padding-bottom: toRem(50);

			@media (max-width:$tablet){
				font-size: toRem(14);
			}

			@media (max-width:$mobile){
				padding: toRem(16);
				font-size: toRem(18);
			}

			&:hover {
				transform: scale(1);
				transition: transform 0.3s ease-in-out 0.2s;
			}
		}

		&_buttons {
			position: absolute;
			width: toRem(40);
			height: toRem(40);
			z-index: 3;
			bottom: 0;
			right: 0;

			@media (any-hover: hover){
				&:hover{
					width: 100%;
					height: 100%;
				}
			}
		}
		
		&_button {
			position: absolute;
			font-size: toRem(40);
			bottom: toRem(5);
			right: toRem(10);
			transition: transform 0.3s ease-in-out 0.2s;
		}

		@media (any-hover: hover) {
			&_buttons:hover ~ &_info {
				transform: scale(1);
				transition: transform 0.3s;
			}

			&_buttons:hover &_button-info {
				transform: translateY(150%);
				transition: transform 0.3s;
			}

			&_buttons:hover &_button-close {
				transform: translateY(0);
				transition: transform 0.3s;
			}
		}

		&_button-info {
			transform: translateY(0);
		}

		&_button-close {
			transform: translateY(150%);
		}
	}

	&__image {
		max-width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
	}

	&__content {
		width: 100%;
		margin: toRem(30) auto 0;
		font-weight: 500;
		font-size: toRem(16);
		color: $mainColor;
		text-align: center;
		max-width: toRem(210);
	}

	&__name {
		font-weight: 600;
		font-size: toRem(20);
	}

	&__strength {
		@include adaptiveValue(margin-block, 8, 10);
	}

	&__volume {
	}
}

.decorative-duck {
	position: absolute;
	z-index: -1;

	img {
		max-width: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center;
	}

	@keyframes rotate-duck {
		0% {
			transform: rotate(0);
		}
		100% {
			transform: rotate(-15deg);
		}
	}
}
